body{
  padding: 20px;
  margin: 0;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction:column;
  gap: 30px;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card{
  text-align: center;
  width: 200px;
  height: 200px;
  border: 2px solid black;

}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin: 0 auto;
}
.links{
  display: flex;
  gap: 30px;
}
.footer{
  position: absolute;
  bottom: 0;
  display: flex;
 margin: 0 auto;
}